{% extends 'layouts/layout.inc.twig' %}

{% block title %}Training guest book - Добавить отзыв{% endblock %}
{% block description %}Описание страницы для SEO{% endblock %}
{% block keywords %}Ключевые слова для SEO{% endblock %}

{% block content %}

    <div class="starter-template">
        <h1>Отзыв успешно добавлен</h1>
        <p><a href="/">Вернуться на главную</a></p>
    </div>

{% endblock %}